@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&subset=cyrillic");


html {
  font-family: 'OpenSans', sans-serif !important;
  font-size: 14px;
}


.zvonok {
    background: #24aa17; 
    color: white; /
    padding: 15px; 
}

.search1 {
  display: none !important;
  align-items: center;
}


.img
{
height:290px;
width:290px;
}

.headerstyle {
background-color: #f5f6f8;
}


.navstyle {
background-color: #2F4F4F;
}

.mainstyle {
background-color: #D3D3D3;
}


ul {
  list-style: none;
}

    ul.hr {
        margin: 0;
        margin-right:180px;
        padding: 10px;
       }
       ul.hr li {
        display: inline;
        margin-right: 11px;
       }
	   
	   
	   
	   
	   
       a {
       color:#FF0000;
       text-decoration:none
       }

       a:active {
       color:#FF0000;
       text-decoration:none
       }

       a:visited {
       color:black;
       text-decoration:none
       }

       a:hover {
       color:#24aa17;
       text-decoration: underline
       }




.fullscreen-bg {
    overflow: hidden;
    z-index: -100;
    position: relative;
    height: 100%;
    width: 100%;
    padding-top:45%;
    margin-top:0%;
}

.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.overlay {
    background: rgba(0,0,0,0.6);
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: 4;
}

.overlay h1 {
    text-align:center;
    color:#fff;
    font-size: 70px;
    margin-top:17%;
}

@media screen and (max-width: 1200px) {
  .overlay h1 {
      font-size: 50px;
      margin-top:10% !important;
  }
}
@media screen and (max-width: 1000px) {
  .rec{
    display: none;
  }
}
@media screen and (max-width: 900px) {
    .overlay h1 {
        text-align:center;
        color:#fff;
        font-size: 40px;
        margin-top:7%;
    }
  }
  
  
  @media screen and (max-width: 780px) {
    .rec1 {
      display: none;
    }
      .search1 {
    display: flex !important;
	}
  }
  
  
  
  
  
  
  @media screen and (max-width: 700px) {
    .overlay h1 {
        font-size: 30px;
        margin-top:7%;
    }
  }
  @media screen and (max-width: 600px) {
    .mini{
      font-size: 15px!important;
    }
  }
  @media screen and (max-width: 500px) {
    .mini{
      font-size: 12px!important;
    }
  }
.overlay div {
  text-align:center;
  color:#fff;
  font-size: 20px;
}

.aya {
	float:right;
}
.col-lg-4 {
	float:left;
}
.col-lg-10 {
	float:left;
}
.col-lg-3 {
	float:left;
}
.col-lg-2 {
	float:right;
	margin-top:40px;
}
.ir {
	position:relative;
	width:100%;
}
.q {
  color:#FFFAFA;
  width: 280px !important;
  height: 280px !important;
}
.z {
  color:#FFFAFA;
  width: 280px !important;
  height: 280px !important;
}
.q a {
    color:#FFFAFA;
	position	: absolute;
	top		: 170px;
	left		: 19px;
	width		: 100%;
}
.e  i {
  position:absolute;
  top:230px;
  left:38px;
  width:100%;
}
.l i {
  position:absolute;
  top:230px;
  left:180px;
  width:100%;
}
.d i {
  position:absolute;
  top:230px;
  left:220px;
  width:100%;
}
.t i{
  position:absolute;
  top:225px;
  left:90px;
  width:100%;
}
.container {
  overflow:hidden
}
.leftimg {
 float:left; 
 margin: 20px 20px 30px 0; 
}
.z a {
    color:#FFFAFA;
	position	: absolute;
	top		: 100px;
	left		: 19px;
	width		: 100%;
}
.jora {
  font-size: 35px;
}


.ss {
	background-color:#ffffff;
	box-shadow:0 10px 50px rgba(0,0,0,0.15);
	height:240px;
	position:relative;
	overflow:hidden;
	padding:150px 0 0 40px;
	}
#ya { 
margin-top:-55px;
}
.item-icon {
	position:absolute;
	top:25%;
	left:40px;
	}
.item-img {
	position:absolute;
	top:-10%;right:0;
	border-radius:0 0 0 100%;
	overflow:hidden;
	}
.item-name a {
	color:#000000;
	text-decoration:none;
	border-bottom:1px solid #24aa17;
	font-weight:900;font-size:22px;
	}


    * {
      box-sizing: border-box;
    }

    .slider {
        width: 83%;
        margin: 20px auto;
    }

    .slick-slide {
      margin: 0px 20px;
    }

    .slick-slide img {
      width: 50%;
    }

    .slick-prev:before,
    .slick-next:before {
      color: black;
    }


    .slick-slide {
      transition: all ease-in-out .3s;
      opacity: .2;
    }

    .slick-active {
      opacity: 1;
    }

    .slick-current {
      opacity: 1;
    }
    .sl
    {
      display:flex;
      flex-wrap:wrap;
      background-color:gray;
    }
    .card{
      width: 280px;
      height:300px;
    }
.ya{
  font-size: 14px;
}
@media screen and (max-width: 1200px) {
  .dok {
    visibility: hidden;
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .dok1 {
    visibility: hidden;
    display: none;
  }
}
span {
  font-size:20px;
}
.des {
  font-size:13px;
}
.green {
  color: #24aa17 !important;
}
.bgreen {
  background-color: #24aa17 !important;
  border: none!important;
  border-bottom: none  !important;
  padding: 10px 10px 10px !important;
}
.form-bgreen {
  background-color: #24aa17 !important;
  border: none!important;
  border-bottom: none  !important;
  padding: 5px 15px 5px !important;
}
.blue {
  color: blue;
}

.bg-sl {
  background-image: url(./img/review-bg.jpg) ;
}

.news-bg {
  background-image: url(./img/news-bg.jpg) ;
}

.mobile {
  display: flex;

  justify-content: space-around;
}

.modal-textBox {
  margin-bottom: 15px!important;
  background-color: #eeeeee!important;
  border: none!important;
}





.modal-textArea {
  background-color: #eeeeee!important;
  border: none!important;
}

.modal-select {
  margin-bottom: 20px!important;
  background-color: #eeeeee!important;
  border: none!important;
  color: #000000 !important;
}


.my-modal-footer {
  margin-bottom: 15px  !important; 
  justify-content: center  !important;
  border-bottom: none  !important;
  border: none!important;
}

.my-modal-header {
  border: none!important;
  border-bottom: none  !important;
}
